<div
    class="group cursor-pointer rounded-xl border border-border-primary bg-surface p-4 shadow-sm transition-all hover:-translate-y-1 hover:shadow-md hover:border-blue-400/30 dark:hover:border-blue-500/50">

    <div class="mb-3 flex items-start justify-between">
        <div class="flex flex-wrap gap-2">
            @for(tag of task?.tags; track tag) {
            <span [ngClass]="getStatusClass(task?.columnId)">
                {{tag}}
            </span>
            }
        </div>

        <button class="text-text-muted transition-colors hover:text-text-primary opacity-0 group-hover:opacity-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 6h.01M12 12h.01M12 18h.01" />
            </svg>
        </button>
    </div>

    <h3 class="text-sm font-bold text-text-primary leading-snug">
        {{task?.title}}
    </h3>

    @if(task?.description) {
    <p class="mt-2 text-xs text-text-secondary line-clamp-2">
        {{ task?.description }}
    </p>
    }

    @if(task?.progress) {
    <div class="mt-4">
        <div class="mb-1.5 flex justify-between text-[10px] font-bold uppercase tracking-tight text-text-muted">
            <span>Progress</span>
            <span class="text-text-secondary">{{task?.progress}}%</span>
        </div>

        <div class="h-1.5 w-full rounded-full bg-border-secondary overflow-hidden">
            <div class="h-full rounded-full bg-amber-500 transition-all duration-500 ease-out shadow-[0_0_8px_rgba(245,158,11,0.3)]" [style.width.%]="task?.progress">
            </div>
        </div>
    </div>
    }

    <div class="mt-4 flex items-center justify-between border-t border-border-secondary pt-3">
        <!-- <div class="flex -space-x-2">
            <div class="h-6 w-6 rounded-full border-2 border-surface bg-slate-200 dark:bg-slate-700"></div>
            <div class="h-6 w-6 rounded-full border-2 border-surface bg-slate-300 dark:bg-slate-600"></div>
        </div> -->
        <span class="text-[10px] font-medium text-text-muted">
            {{ task?.dueAt | date:'MMM d' }}
        </span>
    </div>
</div>